extends ../layouts/default

block content
	head
		title Altius | Products | Sports
	div
		img(src="/images/Basketball/Basketball_Cover.jpg",alt="hockey",width="100%")
	.container
		.breadcram
			<a href="/">Home</a>
			|	 &gt; Products  &gt; Basketball
	
	.whopage
		.section-header
			h2.dark-text Basketball
		.container.proPage

			p When it comes to basketball, you are spoilt for choice. We have a complete range of products for both indoor and outdoor application, meeting both the price point and 
				|	the playing standard of the sport. From Polyurethane Surfaces to Acrylic, Synthetic Turf to Vinyl and Interlocking Tiles, our products meet the exacting standards as set out by FIBA.
	.section-header
		.regular.container
			div
				img(src="/images/Basketball/1.jpg")
			div
				img(src="/images/Basketball/Basket1.jpg")
			div
				img(src="/images/Basketball/Basket2.jpg")
			div
				img(src="/images/Basketball/4.jpg")
			div
				img(src="/images/Basketball/5.jpg")

	
	
	
	#d.section-margin
		.container
			.col-md-4
				#d5
					h3.h4 POLYURETHANE SYSTEM

					ul.ul
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Seamless, non-porous and smooth surface
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Optimum sports comfort with perfect friction and sliding properties
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Maximum load-bearing capacity and water resistant coating
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Excellent colour fastness, clear line marking and multifunctional use
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Easy to maintain and simple to clean and repair

			.col-md-4
				#d5
					h3.h4 ACRYLIC SURFACES

					ul.ul
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Premium quality, pre-blended pure acrylic finish
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	All-weather sporting surface with excellent abrasion resistance and uniform texture
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	 Manufactured from premium 100% acrylic resins
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Confident player footing and true ball bounce
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Light, stable, oxide pigments, selective reinforcing powders and fillers assure maximum UV resistance.
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Economical and wide range of colours
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Skid and water resistant
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Both indoor and outdoor applications
			.col-md-4
				#d5
					h3.h4 VINYL SPORTS SURFACE (INDOOR)

					ul.ul
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Suitable for all indoor sports
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Easy to install and clean
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Very resilient
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	High shock absorption
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Adequately cushioned leading to reduced injuries
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Wide range of surfaces from 4.5mm to 8mm
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Comfortable underfoot experience
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Badvanced technology rigorously tested for ball bounce and coefficient of friction
	script(src="/js/jquery/script2.js")