//-case study of the month
extends ../layouts/default

block content
	.slider
		img(src='/images/case-study.jpg', alt='slider')
	.container
		.breadcram
			a(href='/') Home
			| > Case Study Of The month
		.whopage
			.section-header
				h2.dark-text Case Study of the month
			.container.proPage
				.container
					h5 ITL Public School, New Delhi
					P 
						| Design and install of an outdoor multi play area with tufted line marking for football, volleyball and badminton, along with a cricket wicket in the centre and a 180m running track.
					br
				.row
					.container.products_list
						ul
							li
								a(href='#')
									img(src='/images/ITL4.jpg')
							li
								a(href='#')
									img(src='/images/ITL5.jpg')
							li
								a(href='#')
									img(src='/images/ITL12.jpg')
					p
						strong Date of project completion :
						|  March 2016
					p
						strong Surface :
						|  Tournament
					P
						strong Base :
						|  Dynamic Base with sub-soil drainage
					br
					p
						| ITL Public School has, since its establishment, earned for itself a reputation for excellence in the field of education. The school had everything that made it one of the most recognized institutions in the city. However, the school lacked a proper dedicated playground for its students. This gave birth to a partnership between Altius Sports and the school whereby a world-class sporting facility was created so that the highly motivated students of the school could achieve not only academic success but also overall development of their personality.
					p
						| This installation spread over 40,000 sq.ft., uses a medium pile, polyethylene surface with sand in-fill. TigerTurf Tournament is an excellent multi-purpose sports surface for schools, accommodating ball sports, athletics and all outdoor games. Presented in brilliantly clear colours, it is an economic turf for schools that is virtually maintenance free and extremely durable.
					p
						|  The base construction has been done in a manner that ensures both surface drainage as well as sub-soil drainage so that no playing hours are lost because of weather conditions.
					p
						| “The field is indeed a jewel in the crown of ITL Public School and will go a long way in enhancing the all-round development skills of its students in the years to come”, said Ajay Gulati, GM Sales, Altius Sports.







		

