extends ../layouts/default

block content
	if Statics.length
		each static in Statics
			head
				title Field in a Box
			.TopImgF
				img(src=static.image.First, alt="slider")
			.container
				.breadcram
					a(href='/') Home
					| &gt; Field in a Box
			.whopage
				.container.products_list
					.section-header
						h2.dark-text=static.title
				.container.propage
					p.sanoF
						img(src=static.image.Second,alt="slider", style="width:200px;")
						=static.content.first
						br
						=static.content.second
						br
						=static.content.third
						br
						=static.content.fourth
						br
						=static.content.Fifth
						br
						=static.content.Sixth
						br
						=static.content.Seventh
						br
						=static.content.Eighth
						br
						br
						br
						strong.dsk-quote=static.heading.First
						br
						br
						=static.heading.Second
					
