extends ../layouts/default

block content
    head
        title Altius | Products | Sports
    div
        img(src='/images/football/Football_Cover.jpg', alt='football', width='100%')
    .container
        .breadcram
            a(href='/') Home
            |  > Products  > Football
    .whopage
        .section-header
            h2.dark-text football
        .container.proPage
            ul#li_block4
                li
                    strong FIFA Licensee
                li
                    strong Unlimited play yarn durability warranty regardless of footwear
                li
                    strong Special fibre that remains cooler than conventional yarn
                li
                    strong Ask about our special futsal field turf where play is possible
            p
                | The world's most popular sport is now played on the most advanced artificial grass surface, recognized by FIFA. But the real revolution has been to transform dust bowls and mud pits, where generations of children have learnt their football skills, into high performance, heavily used "theatres of dreams".
            br
            br
        .section-header(style='padding-bottom : 10px;')
            .regular.container(style='height : 250px;')
                div
                    img(src='/images/football/2.jpg')
                div
                    img(src="/images/football/3.jpg")
                div
                    img(src="/images/football/4.jpg")
                div
                    img(src="/images/football/5.jpg")
                div
                    img(src="/images/football/6.jpg")
                div
                    img(src="/images/football/7.jpg")
                div
                    img(src="/images/football/8.jpg")
                div
                    img(src="/images/football/9.jpg")
                div
                    img(src="/images/football/10.jpg")
    .container.proPage
        p
            | You can wear flat-soled shoes and teachers, coaches and facility managers no longer need to monitor footwear!
            strong
                br
                br
                | 	Ideal for heavy use futsal fields and schools.
        br
        br
    Block2 
    #d.section-margin
        .container
            .col-md-6
                #d5
                    h3.h4 ADVANTAGES OF SYNTHETIC TURF
                    ul.ul
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Soft, non-abrasive fibres
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Replicating natural grass in colour, feel and performance
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Allowing the football to "sit in" in the surface
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            |                         Better control over ball roll
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            |                         No cancelled matches or practice sessions due to water-logged pitches
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            |                         No heavy maintenance required to restore worn surfaces
                        br
            .col-md-6
                #d5
                    h3.h4(style='text-transform: uppercase;') A Stabilizing In-fill of sand along with a Performance in-fill of rubber
                ul.ul
                    li#p6
                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                        |                         Helps weigh down the grass and gives structural integrity
                    li#p6
                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                        | Increases resilience for better ball control and ball bounce and also absorbs impact
                    li#p6
                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                        |                         Allows sliding tackles and freedom of movement for the player to perform a full selection of skills
                    li#p6
                        span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                        |                         Performance in-fill option of TPE (green, natural rubber) instead of SBR – stay greener, remain cooler
        br
        br
        br


                











   