extends ../layouts/default

block content
	head
		title Altius | Products | Leisure
	div
		img(src="/images/golf/Golf_Cover.jpg",alt="hockey",width="100%")
	.container
		.breadcram
			<a href="/">Home</a>
			|	&gt; Products  &gt; Golf
	
	.whopage
		.section-header
			h2.dark-text Golf
		.container.proPage

			
	.section-header
		.regular.container
			div
				img(src="/images/golf/Golf1.jpg")
			div
				img(src="/images/golf/2.jpg")
			div
				img(src="/images/golf/Golf2.jpg")
			div
				img(src="/images/golf/3.jpg")
			div
				img(src="/images/golf/4.jpg")
			div
				img(src="/images/golf/Golf3.jpg")
			div
				img(src="/images/golf/5.jpg")
			div
				img(src="/images/golf/1.jpg")
	.container.proPage
		p Sometimes Mother Nature needs a helping hand – that’s why TigerTurf is so popular on the golf course. A maintenance free, all-weather surface that remains lush and green all year through.
		br
		br
	#d.section-margin
		.container
			.col-md-12
				#d5
					h3.h4 ADVANTAGES WITH TIGERTURF

					ul.ul
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Manufactured using UV resistant, texturized monofilament fibres, offering higher durability &amp; resistance to wear
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Non-directional grass that provides consistency in ball roll and bounce regardless of the direction in which the ball is putt
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Excellent ball roll speed
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Non-filled options available too that are fully adhered to provide dimensional stability
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Low maintenance which means no rolling or brushing required as opposed to filled systems
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Minimal ball bounce when chipping from a distance
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Surface takes spins mimicking the best greens Augusta has to offer
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	 Easily contoured for putting angles &amp; breaks
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Consistent performance without need for watering, mowing, coring or spraying
						li#p6
							span#p1.fa.fa-check.fa-spacing(aria-hidden="true")
							|	Enhance the experience by adding a felt layer/shock pad under the green to negate ball bounce