extends ../layouts/default

block content
    head
        title Altius | Products | Sports
    div
        img(src='/images/multi/Multi_Cover.jpg', alt='Multi Sports', width='100%')
    .container
        .breadcram
            a(href='/') Home
            |  > Products  > Multi
    .whopage(style='padding-bottom:10px;')
        .section-header
            h2.dark-text Multi
    .container.proPage
        ul#li_block4
            li
                strong A specially engineered turf surface suitable for multiple sports
            li
                strong 
                    | Individual characteristic of every sport retained despite turf being multi in nature
            li
                strong Hard pressed for space, don’t worry, we even build on your rooftop
            li
                strong A first only from TigerTurf

        br
        br
    .section-header
        .regular.container
            div
                img(src='/images/multi/2.jpg')
            div
                img(src='/images/multi/3.jpg')
            div
                img(src='/images/multi/4.jpg')
            div
                img(src='/images/multi/5.jpg')
            div
                img(src='/images/multi/6.jpg')
            div
                img(src='/images/multi/1.jpg')
            div
                img(src='/images/multi/7.jpg')
            div
                img(src='/images/multi/8.jpg')
            div
                img(src='/images/multi/9.jpg')
    
    .container.proPage
        p
            | TigerTurf’s synthetic, all-weather, multi-use playing surfaces have become a standard facility in primary schools, intermediate schools and colleges throughout India, New Zealand, Australia, Europe, the Americas and rest of Asia. Clubs and real estate projects are also finding multi use sports surfaces providing better value for money as you can have multiple sports without the need for a larger area. GET MORE FOR LESS – ASK OUR CAD TEAM FOR A FREE ESTIMATION.
        br
        br
    //- Block2
    #d.section-margin
        .container
            .col-md-6
                #d5
                    h3.h4 SYNTHETIC TURF
                    ul.ul
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            |  Multi sport surface with excellent playing characteristics for badminton, basketball, cricket, football, golf, handball, hockey, netball, running tracks, tennis, volleyball and counting
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | All-weather surface, impervious to extremes of temperature
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Quality virgin fibres, heavy metal and lead free
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | UV stabilized which means no perceptible fading
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Durable and hard-wearing surface
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | No mowing, watering or weedings
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Maintenance friendly
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            |Fire retardant surface
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | A high tuft rate per square metre that withstands spikes as well as cushions bare feet
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Variety of colours for easier demarcation
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Playing lines tufted into the product
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Ideal for assembly as well as recreational activities
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Proven track record that is more than 35 years “young”
            .col-md-6
                #d5
                    h3.h4 VINYL SPORTS SURFACE (INDOOR)
                    p#p6
                        | Our vinyl sports flooring range is suitable for all indoor sports and has high shock absorption properties and is an extremely durable playing surface. The advanced technology ensures that the sports floor is adequately cushioned, thus greatly lowering the impact on the joints of players.
                        | We have a range of surfaces from 4.5mm to 8mm, and the same has been rigorously tested for ball bounce and coefficient of friction. With a variety of colours and topcoat finishing, we even bring out the aesthetic value with the sport.                    
                    ul.ul
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Extremely durable
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Easy to install and clean
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Very resilient
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | High shock absorption
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Anti-slip surface
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Sound absorbing
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Comfortable underfoot experience
        br
        br
        br
        br