extends ../layouts/default

block content
    head
        title Altius | Products | Sports
    div
        img(src='/images/other_sports/Othersports_Cover.jpg', alt='Other Sports', width='100%')
        //- Block1
    .container
        .breadcram
            a(href='/')  Home
            |  > Products  > Other Sports
    .whopage(style='padding-bottom:10px;')
        .section-header
            h2.dark-text Other Sports
    .section-header
        .regular.container
            div
                img(src='/images/other_sports/rugby1.jpg')
            div
                img(src='/images/other_sports/rugby2.jpg')
            div
                img(src='/images/cpa/2.jpg')
            div
                img(src='/images/cpa/4.jpg')

    .container.proPage
        p
            | TigerTurf mimics natural grass for
            strong  American Football
            | ; 
            br
            | Can be easily maintained despite a hectic all year-round season for
            strong  Baseball
            |  and 
            strong  Softball
            | ;
            br
            | Has non-abrasive fibres and an impact absorbing pad for
            strong Rugby
            | ;
            br
            | A “Supergreen” bowling surface for
            strong Bowls
            | ;
            br
            | Ideal levels of firmness and natural ball roll for fast-paced
            strong  Lacrosse
            | .
        br
        br