extends ../layouts/default

block content
	head
		title  Altius | Products | Other Products
		
	div
		img(src="/images/sportsacc/Acc_Cover.jpg",alt="Lights, Nets & Accessorieshockey",width="100%")
	.container
		.breadcram
			<a href="/">Home</a>
			|	&gt; Products  &gt; Lights&#44; Nets &amp; Accessories
	
	.whopage
		.section-header
			h2.dark-text Lights&#44; Nets &amp; AccessoriesLandscape
		.container.proPage

			
	.section-header
		.regular.container
			div
				img(src="/images/sportsacc/acc1.jpg")
			div
				img(src="/images/sportsacc/acc2.jpg")
			div
				img(src="/images/sportsacc/acc3.jpg")
			div
				img(src="/images/sportsacc/acc4.jpg")
			div
				img(src="/images/sportsacc/acc5.jpg")
			div
				img(src="/images/sportsacc/acc6.jpg")
				
	.container.proPage
		p TigerTurf synthetic grass is always green, always lush. It requires no watering or mowing, so relax and enjoy. TigerTurf is experiencing dramatic growth in demand 
			|for its range of products for landscaping applications, from the home backyard to open public spaces. Our latest landscaping products have been developed specifically 
			|to harmonize with the natural environment, improving safety for children, increasing usage for the community and bringing green and durable grass surfaces to outdoor areas without the need for water, pesticides, mowing or weeding.
		br
		br
	