extends ../layouts/default

block content
        .container.search
            div
                span <b> Your Search result for : 
                span.result<b> Number of results found: 
                    span ffjodjwo hello 
            
            if Product_contents.length
                each product_content in Product_contents
                    
                    
                    a(href=product_content.page_url) All internationals, every top club match and almost every other game of hockey is now played on artificial grass hockey turf
                    p frfesergssssssesefwerfwmwmemw
                    p 534fcdf efemfeml slfwl
                    //- span=Product_contents.page_url 
            //- div
            //-     .col-md-3.col-sm-3.col-xs-12.section-image
            //-     img(src=Product_contents.image.first, alt='hockey', width='50%',height='300px')
            //- div
                p=Product_contents.content.first