extends ../layouts/default

block content
    head
       title Altius | Products | Sports
    div
        img(src='/images/tracks/Tracks_Cover.jpg', width='100%')
    .container
        .breadcram
            a(href='/') Home
            |  > Products  > Athletic Tracks
    .whopage
        .section-header
            h2.dark-text Athletic Tracks
        .container.proPage
             p
                | IAAF certified athletic track systems from world-leader Polytan, with complete turnkey project  management entailing design, construction, supply and installation of equipment, is brought to you by Altius Sports. In addition to renovating, resurfacing and replacing existing synthetic athletic surfaces, we also help you maintain your athletic track surface.
                br
                br
                | The Polytan track systems are the ideal foundation for best times, records and international elite sport. The special solid PU structure offers optimum acceleration ensuring maximum performance. The EPDM granules dispersed in the top layer make this sports surface the ideal choice for running shoes with spikes and offers high abrasion resistance. Energy-enhancing tread elasticity and excellent acceleration performance complete the properties of these elite surfaces.
                | The solid design also ensures a particularly long lifespan.
    .section-header
        .regular.container
            div
                 img(src='/images/tracks/2.jpg')
            div
                img(src='/images/tracks/Tracks1.jpg')
            div
                img(src='/images/tracks/Tracks2.jpg')
            div
                img(src='/images/tracks/1.jpg')

    //- block2
    #d.section-margin
        .container
            .col-md-6
                #d5
                    h3.h4 WHY POLYTAN
                    ul.ul
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Built for faster times
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Superior shock absorption properties
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Highly durable
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | No advanced maintenance required
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | All weather surface
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | High return of energy
            .col-md-6
                #d5
                    h3.h4 QUALITY THAT REMAINS IN-HOUSE – INSTALLING TRACKS SINCE 1969
                    ul.ul
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Polytan Binder and Polyurethane
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Polytan EPDM (Melos)
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Polytan Installation Equipment
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Polytan Installation Crew
        br
        br
        br
        br
