extends ../layouts/default

block content
	head
		title  Altius | Products | Other Products
	div
		img(src="/images/vinyl/VFloor_Cover.jpg",alt="Vinyl Flooring",width="100%")
	.container
		.breadcram
			<a href="/">Home</a>
			|	&gt; Products  &gt; Vinyl Flooring
	
	.whopage
		.section-header
			h2.dark-text Vinyl Flooring
		.container.proPage
			p.dark-text Salient features
			ul#li_block4 
				li<strong>Simple and quick to install</strong>
				li<strong>Easy to clean with no maintenance requirement</strong>
				li<strong>Interwoven foam pad with an enduring and long life span</strong>

			
	.section-header
		.regular.container
			div
				img(src="/images/vinyl/VFloor1.jpg")
			div
				img(src="/images/vinyl/VFloor2.jpg")
			div
				img(src="/images/vinyl/Indoor Floorings1.png")
			div
				img(src="/images/vinyl/Indoor Floorings2.jpg")
			div
				img(src="/images/vinyl/Indoor Floorings.png")
			
				
	.container.proPage
		p Most indoor classrooms for students beginning kindergarten, pre-school or elementary school are used for all activities including playing. Obviously,
			| using a plain concrete floor is an invitation to injuries. To make sure the classroom is designed to provide full safety, we recommend using our 
			|indoor vinyl floorings that can be installed directly on to concrete without the need for any underlay.
			br
		p The cushioned foam structure of this floor is adequate to handle the impact force of kids running, bouncing or dancing on the floor. These floors are available in a variety
			| of vivid colours and come with the option of attractive patterns designed on them.  
		br
		br
	