extends ../layouts/default

block content
    head
        title Altius | Products | Sports
    div
        img(src='/images/tracks/Tracks_Cover.jpg', width='100%')
    .container
        .breadcram
            a(href='/') Home
            |  > Products  > Volleyball
    .whopage
        .section-header
            h2.dark-text Volleyball
    .container.proPage
        p
            | We have a range of products for volleyball suited for every application – be it indoor or outdoor, amateur or professional. Our products cater to every price range without compromising on player comfort.
        br
        br

    .container.products_list.section-margin
        ul.clearfix.volley-images
            li
                a(href='#')
                    img(src='/images/volleyball/1.jpg')
            li
                a(href='#')
                    img(src='/images/volleyball/2.jpg')

        //- Block2
    #d.section-margin
        .container
            .col-md-4
                #d5
                    h3.h4 POLYURETHANE SYSTEM
                    p#p6
                        | The polyurethane surface is a highly engineered sports surface providing a worry-free, shock-absorbing playing surface keeping in mind player safety, comfort and the high quality as required by the sport.
                    ul.ul
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Seamless, non-porous and smooth surface
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Optimum sports comfort with perfect friction and sliding properties
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Maximum load-bearing capacity and water resistant coating
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Excellent colour fastness, clear line marking and multifunctional use
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Easy to maintain and simple to clean and repair
            .col-md-4
                #d5
                    h3.h4 SYNTHETIC TURF
                    p#p6
                        | In today’s time, Volleyball is increasingly being played on artificial turf fields with an infill of both sand and rubber. They are manufactured and installed keeping in mind player safety and surface durability.
                    ul.ul
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Designed to replicate the best natural grass fields
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Our non-abrasive fibres have the colour, feel and performance of natural grass
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Cancelled matches due to waterlogged pitches are a thing of the past
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | No heavy maintenance is required to restore worn surfaces
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Daily maintenance is reduced dramatically
            
            .col-md-4
                #d5
                    h3.h4 VINYL SPORTS SURFACE (INDOOR)
                    p#p6
                        | Great shock absorption owing to a cushioned surface makes for an ideal indoor application that comes in a burst of colours and textures.
                    ul.ul
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Easy to install and clean
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Very resilient
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | High shock absorption
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Anti-slip surface
                        li#p6
                            span#p1.fa.fa-check.fa-spacing(aria-hidden='true')
                            | Sound absorbing
        br
        br
        br
        br
